.container {
    border: 1px solid black;
    padding: 1%;
    margin-inline: auto;
    max-width: 700px;
    position:relative;
    height: 600px;
    box-sizing: border-box;
}

.input-group {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 97%;
    margin-bottom: 3%;
    border: 1px black solid;
    padding: 1%;
    box-sizing: border-box;
}

.chat-input {
    width: 90%;
    border: none;
}

.input-btn {
    width: 20px;
    height: 20px;
    border: none;
}

.audio {
    background-image: url("../img/free-icon-microphone-9883874.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.video {
    background-image: url("../img/free-icon-video-camera-4196783.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 1%;
}

.chat {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 500px;
}

.msg {
    border: 1px black solid;
    border-radius: 3px;
    margin-bottom: 2%;
    padding: 10px;
}

.time {
    display: flex;
    justify-content: flex-end;
}

.modal {
    border: 1px black solid;
    border-radius: 3px;
    padding: 10px;
    z-index: 20;
    position: fixed;
    width: 500px;
    background-color: chocolate;
    top: 15%;
    left: 35%;
}

.hidden {
    display: none !important;
}

.btns, .media-btns {
    display: flex;
}